// player
//
// classes for the player unit.
//
// Markup: tests/fixtures/player.hbs
//
// Styleguide units.player

.player {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  @media #{$media-medium} {
    max-width: 767px;
    padding: 2rem 0.5%;
    width: 90%;
  }
  @media #{$media-large} {
    padding: 2rem 0 0;
    width: 85%;
  }
  @media #{$media-xlarge} {
    max-width: 1024px;
  }
}

.player-l {
  height: auto;
  width: 100%;
  &:nth-child(1) {
    height: 50%;
    @media #{$media-medium} {
      height: 65%;
    }
  }
}

.player--display {
  align-items: center;
  background-color: $light-black;
  border-bottom: 1px solid #fefefe;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.player--display-l {
  height: 100%;
  width: 100%;
  iframe,
  video,
  embed,
  div {
    height: 100% !important;
    width: 100% !important;
  }
}


.player__controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media #{$media-medium} {
    flex-direction: row;
  }
}

.player__controls__control {
  width: 100%;
  margin: 0;
  @media #{$media-medium} {
    width: 49%;
    margin: 0 0.5%;
  }
}

.player__controls__control__btn {
  background-color: $black;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 130%;
  box-shadow: inset 0 0 1.35rem 0.2rem rgba(0, 0, 0, 0.85);
  border-radius: 0.2rem;
  color: $white;
  cursor: pointer;
  height: 7rem;
  width: 100%;
  transition: box-shadow 0.4s cubic-bezier(.6,.16,0,.97),
              background-size 0.4s cubic-bezier(.6,.16,0,.97);
  &:hover {
    background-size: 150%;
    box-shadow: inset 0 0 0.9rem 0.15rem rgba(0, 0, 0, 0.6);
  }
}

.player__controls__control--text {
  display: block;
  font-family: $font-stack-1;
  text-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.9);
  &-direction {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  &-title {
    font-size: 0.85rem;
    letter-spacing: 0.025rem;
    font-weight: 700;
  }
}

.player__infobox {
  padding: 1.5rem 0;
}

.player__infobox__heading {
  font-size: 1.65rem;
  letter-spacing: -0.075rem;
  font-weight: 700;
}

.player__infobox__info {
  display: inline-block;
  &:not(:first-child) {
    margin-right: 0.5rem;
  }
  &:not(:last-child) {
    &:after {
      content: '/';
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

}

.player__infobox__info--icon,
.player__infobox__info--text {
  display: inline-block;
  vertical-align: middle;
}

.player__infobox__info--icon {
  height: 0.9rem;
  width: 0.9rem;
  padding-bottom: 0.1rem;
  fill: $black;
}

.player__infobox__info--text {
  color: $black;
  font-size: 0.9rem;
  margin-left: 0.2rem;
  &--m--link {
    position: relative;
    &:before {
      background: $black;
      content: '';
      display: block;
      border-radius: 1px;
      height: 1px;
      position: absolute;
      left: 0;
      top: 95%;
      width: 100%;
      transition: height 0.1s ease-out;
    }
    &:hover {
      &:before {
        height: 4px;
      }
    }
  }
}
