html, body {
  font-family: 'Bree Serif', serif;
  height: 100%;
  width: 100%;
}


.app {
  background: #222;
  color: #f2f2f2;
  height: 100%;
  width: 100%;
}

.app-l {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}
