* {
  box-sizing: border-box;
}
html,
body {
  background: #ccc;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.main {
  position: absolute;
  left: 50%;
  top: 30%;
  height: 50%;
  width: 96%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.225s ease-in-out;
          transition: width 0.225s ease-in-out;
}
@media screen and ( min-width: 480px ) {
  .main {
    width: 90%;
  }
}
@media screen and ( min-width: 620px ) {
  .main {
    width: 85%;
  }
}
@media screen and ( min-width: 767px ) {
  .main {
    max-width: 767px;
  }
}
.video-container {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-title {
  margin: 1.5rem 0 1rem;
  font-weight: 100;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  -webkit-transition: font-size 0.345s ease-in-out;
          transition: font-size 0.345s ease-in-out;
  text-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
}
@media screen and ( min-width: 480px ) {
  .video-title {
    font-size: 2.25rem;
  }
}
@media screen and ( min-width: 620px ) {
  .video-title {
    margin: 2.5rem 0 1.5rem;
    font-size: 2.5rem;
  }
}
@media screen and ( min-width: 767px ) {
  .video-title {
    font-size: 2.625rem;
  }
}
.video-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border-radius: 2rem;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: block;
  font-size: 1.55rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 0.75rem 4rem;
  margin: 1.25rem 0;
  text-shadow: 0 0 2px rgba(151, 151, 151, 0.5);
  -webkit-transition: box-shadow 0.475s ease-in-out, background-color 0.35s ease-in-out, color 0.35s ease-in-out;
          transition: box-shadow 0.475s ease-in-out, background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  width: 100%;
}
.video-button:focus {
  outline: none;
}
@media screen and ( min-width: 375px ) {
  .video-button {
    display: inline-block;
    font-size: 1.75rem;
    margin: 0;
    width: 49%;
  }
}
@media screen and ( min-width: 620px ) {
  .video-button {
    font-size: 1.85rem;
  }
}
@media screen and ( min-width: 767px ) {
  .video-button {
    border-radius: 3rem;
    font-size: 2rem;
    margin: 1rem 0.25rem;
  }
}
.button-prev {
  color: #f66;
  border-color: #f66;
}
.button-prev:focus {
  box-shadow: 0 0 4px #f66;
}
.button-prev:hover {
  background-color: #f66;
  color: #f1f1f1;
}
.button-next {
  color: #0ac;
  border-color: #0ac;
}
.button-next:focus {
  box-shadow: 0 0 4px #0ac;
}
.button-next:hover {
  background-color: #0ac;
  color: #f1f1f1;
}
.footy {
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0;
  color: #aaa;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1rem;
  text-align: center;
  width: 100%;
}
.footy-text {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem auto 0.25rem;
}
.footy-text-link {
  display: inline-block;
  color: #0ac;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.575s ease-in-out;
          transition: color 0.575s ease-in-out;
}
.footy-text-link:before {
  background-color: #0ac;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: -1px;
  width: 0;
  -webkit-transition: width 0.525s ease-in-out;
          transition: width 0.525s ease-in-out;
}
.footy-text-link:hover {
  color: #f66;
}
.footy-text-link:hover:before {
  width: 100%;
}
.footy-subtext {
  font-size: 0.25rem;
  margin: 0.45rem 0 0.25rem;
}
