<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"  />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="watchddit">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
  <!--
                           /$$               /$$             /$$       /$$ /$$   /$$
                          | $$              | $$            | $$      | $$|__/  | $$
 /$$  /$$  /$$  /$$$$$$  /$$$$$$    /$$$$$$$| $$$$$$$   /$$$$$$$  /$$$$$$$ /$$ /$$$$$$
| $$ | $$ | $$ |____  $$|_  $$_/   /$$_____/| $$__  $$ /$$__  $$ /$$__  $$| $$|_  $$_/
| $$ | $$ | $$  /$$$$$$$  | $$    | $$      | $$  \ $$| $$  | $$| $$  | $$| $$  | $$
| $$ | $$ | $$ /$$__  $$  | $$ /$$| $$      | $$  | $$| $$  | $$| $$  | $$| $$  | $$ /$$
|  $$$$$/$$$$/|  $$$$$$$  |  $$$$/|  $$$$$$$| $$  | $$|  $$$$$$$|  $$$$$$$| $$  |  $$$$/
\_____/\___/  \_______/   \___/   \_______/|__/  |__/ \_______/ \_______/|__/   \___/
    -->
    <main id="<%= htmlWebpackPlugin.options.appMountId %>" class="<%= htmlWebpackPlugin.options.appMountId %>"></main>
  </body>
</html>
