
//  Media queries:
$media-xxsmall: "screen and (min-width: 375px)";
$media-xsmall: "screen and (min-width: 420px)";
$media-small: "screen and (min-width: 630px)";
$media-medium: "screen and (min-width: 767px)";
$media-large: "screen and (min-width: 910px)";
$media-xlarge: "screen and (min-width: 1024px)";
$media-xxlarge: "screen and (min-width: 1240px)";
$media-xxxlarge: "screen and (min-width: 1440px)";
